
Header {
    dock: top;
    height: 1;
    content-align: center middle;
}

Screen {
    align: center middle;
    height: auto;
}

.buttons {
    width: 100%;
    height: auto;
    padding: 1;
    opacity: 90%;
    
}

#exit {
    color: red;
    border: tall red;
}


Button {
    width: 0.3fr;
    margin: 0 2; 
}

.feedback-buttons {
    align: center bottom;
}

#exit-btn {
    width: 10%;
    height: auto;
    opacity: 80%;
}

#interactive-part {
    height: 100%;
    margin: 0 8;
}

#result {
    text-align: center;
    margin: 1 6;
}

#io-box {
    content-align: center middle;
    padding: 4 0;
    layout: vertical;
}

#feedback {
    padding: 1 5;
    layout: horizontal;
    height: auto;
    
}

